.card {
  position: relative;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card__image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 0;
}

.card__title {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  white-space: nowrap;
}

.card__delete-btn {
  background-image: url(../images/delete.svg);
  height: 32px;
  width: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__content {
    max-width: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-btn {
    height: 18px;
    width: 20px;
  }
}
