.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 0.7);
}

@media screen and (max-width: 627px) {
  .footer {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
