.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__close-btn {
  background-image: url(../images/closeicon.svg);
  padding: 0;
  border: none;
  background-color: #fff;
  opacity: 40%;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal__close-btn_preview {
  width: 40px;
  height: 40px;
  top: 0;
  right: -52.5px;
  background-image: url(../images/preview-close.svg);
  background-color: transparent;
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_preview:hover {
  opacity: 0.4;
  transition: opacity 0.3s;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: black;
  padding: 0;
  border-radius: 8px;
  width: fit-content;
  text-align: center;
}

.modal__caption {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-color: rgba(33, 33, 33, 1);
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  display: inline-block;
  border-radius: 8px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
  padding: 16px 12px;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__error {
  margin-top: 8px;
  display: block;
  color: rgba(255, 0, 0, 0.7);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  border-radius: 8px;
  border: none;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal__submit-btn:hover {
  opacity: 1;
}

.modal__submit-btn_disabled {
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__image-container {
  position: relative;
  object-fit: contain;
  display: block;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  margin: 8px 0;
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
  display: block;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_preview {
    top: 12px;
    right: 12px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__title {
    font-size: 16px;
  }

  .modal__input {
    font-size: 16px;
  }
  .modal__submit-btn {
    box-sizing: border-box;
    max-width: none;
    width: 100%;
  }
}
